<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">


<html>
<head>
    <title>Deck Comparison</title>
</head>

<body>
    <a href="/" target="_self" title="returns to home">
        return home
    </a>
    <p>
        Here, you can view the card interactions for two specific decks you select:
        The result will be in terms of the first card.
    </p>
    <p>
        NOTE: THIS IS A NOT THE FINAL VERSION, THE DATA IS NOT ACCURATE YET
    </p>
<!--    <form action="{{ url_for('lookup') }}" method="POST">-->
<!--        <h2> FOR DECK 1</h2>-->
<!--        <div>-->
<!--            <label for="a1">card:</label>-->
<!--            <select id="a1" name="a1" required>-->
<!--                {% for card in cards %}-->
<!--                    <option value="{{ card }}" {% if fcard == card %}selected{% endif %}>{{ card }}</option>-->
<!--                {% endfor %}-->
<!--            </select>-->

<!--            <label for="a2">card:</label>-->
<!--            <select id="a2" name="a2" required>-->
<!--                {% for card in cards %}-->
<!--                    <option value="{{ card }}" {% if scard == card %}selected{% endif %}>{{ card }}</option>-->
<!--                {% endfor %}-->
<!--            </select>-->

<!--            <label for="a3">card:</label>-->
<!--            <select id="a3" name="a3" required>-->
<!--                {% for card in cards %}-->
<!--                    <option value="{{ card }}" {% if scard == card %}selected{% endif %}>{{ card }}</option>-->
<!--                {% endfor %}-->
<!--            </select>-->

<!--            <label for="a4">card:</label>-->
<!--            <select id="a4" name="a4" required>-->
<!--                {% for card in cards %}-->
<!--                    <option value="{{ card }}" {% if scard == card %}selected{% endif %}>{{ card }}</option>-->
<!--                {% endfor %}-->
<!--            </select>-->

<!--            <label for="a5">card:</label>-->
<!--            <select id="a5" name="a5" required>-->
<!--                {% for card in cards %}-->
<!--                    <option value="{{ card }}" {% if scard == card %}selected{% endif %}>{{ card }}</option>-->
<!--                {% endfor %}-->
<!--            </select>-->

<!--            <label for="a6">card:</label>-->
<!--            <select id="a6" name="a6" required>-->
<!--                {% for card in cards %}-->
<!--                    <option value="{{ card }}" {% if scard == card %}selected{% endif %}>{{ card }}</option>-->
<!--                {% endfor %}-->
<!--            </select>-->

<!--            <label for="a7">card:</label>-->
<!--            <select id="a7" name="a7" required>-->
<!--                {% for card in cards %}-->
<!--                    <option value="{{ card }}" {% if scard == card %}selected{% endif %}>{{ card }}</option>-->
<!--                {% endfor %}-->
<!--            </select>-->

<!--            <label for="a8">card:</label>-->
<!--            <select id="a8" name="a8" required>-->
<!--                {% for card in cards %}-->
<!--                    <option value="{{ card }}" {% if scard == card %}selected{% endif %}>{{ card }}</option>-->
<!--                {% endfor %}-->
<!--            </select>-->

<!--        </div>-->
<!--                <h2> FOR DECK 2</h2>-->
<!--        <div>-->
<!--            <label for="b1">card:</label>-->
<!--            <select id="b1" name="b1" required>-->
<!--                {% for card in cards %}-->
<!--                    <option value="{{ card }}" {% if fcard == card %}selected{% endif %}>{{ card }}</option>-->
<!--                {% endfor %}-->
<!--            </select>-->

<!--            <label for="b2">card:</label>-->
<!--            <select id="b2" name="b2" required>-->
<!--                {% for card in cards %}-->
<!--                    <option value="{{ card }}" {% if scard == card %}selected{% endif %}>{{ card }}</option>-->
<!--                {% endfor %}-->
<!--            </select>-->

<!--            <label for="b3">card:</label>-->
<!--            <select id="b3" name="b3" required>-->
<!--                {% for card in cards %}-->
<!--                    <option value="{{ card }}" {% if scard == card %}selected{% endif %}>{{ card }}</option>-->
<!--                {% endfor %}-->
<!--            </select>-->

<!--            <label for="b4">card:</label>-->
<!--            <select id="b4" name="b4" required>-->
<!--                {% for card in cards %}-->
<!--                    <option value="{{ card }}" {% if scard == card %}selected{% endif %}>{{ card }}</option>-->
<!--                {% endfor %}-->
<!--            </select>-->

<!--            <label for="b5">card:</label>-->
<!--            <select id="b5" name="b5" required>-->
<!--                {% for card in cards %}-->
<!--                    <option value="{{ card }}" {% if scard == card %}selected{% endif %}>{{ card }}</option>-->
<!--                {% endfor %}-->
<!--            </select>-->

<!--            <label for="b6">card:</label>-->
<!--            <select id="b6" name="b6" required>-->
<!--                {% for card in cards %}-->
<!--                    <option value="{{ card }}" {% if scard == card %}selected{% endif %}>{{ card }}</option>-->
<!--                {% endfor %}-->
<!--            </select>-->

<!--            <label for="b7">card:</label>-->
<!--            <select id="b7" name="b7" required>-->
<!--                {% for card in cards %}-->
<!--                    <option value="{{ card }}" {% if scard == card %}selected{% endif %}>{{ card }}</option>-->
<!--                {% endfor %}-->
<!--            </select>-->

<!--            <label for="b8">card:</label>-->
<!--            <select id="b8" name="b8" required>-->
<!--                {% for card in cards %}-->
<!--                    <option value="{{ card }}" {% if scard == card %}selected{% endif %}>{{ card }}</option>-->
<!--                {% endfor %}-->
<!--            </select>-->

<!--        </div>-->
<!--        <br>-->
<!--        <div>-->
<!--            <input type="submit" value="Submit">-->
<!--        </div>-->
<!--    </form>-->

</body>
</html>
