<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

<html>
<head>
    <title> Clash Royale Matchup & Card Predictor</title>
</head>
<body>
    <h1> Clash Royale Matchup Predictor and Card Analysis</h1>
    <p>If you want to see the raw matrix collected from the data of card interactions,
        click the following link</p>
    <a href="matrix.html" target="_self" title="opens a new tab to view matrix">
        view matrix raw
    </a>
    <p> If you want to select a few cards to see the interaction, click the following link</p>
    <a href="card_lookup.html" target="_self" title="opens a new tab to view cards">
        card interactions
    </a>
</body>
</html>
