<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

<html>
<head>
    <title> Clash Royale Matchup & Card Predictor</title>
</head>
<body>
    <h1> Clash Royale Matchup Predictor and Card Analysis</h1>
    <p>If you want to see the raw matrix collected from the data of card interactions,
        click the following link</p>
    <a href="matrix.html" target="_blank" title="opens a new tab to view matrix">
        view matrix raw
    </a>
</body>
</html>
