<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

<html>
<head>
    <title>Card Interactions</title>
    <style>
        table {
            border-collapse: collapse;
        }

        table, th, td {
            border: 1px solid black;
        }

        th, td {
            padding: 5px;
            text-align: center;
        }
    </style>
</head>

<body>
    <h1>Card Interactions</h1>
    <a href="/" target="_self" title="returns to home">
        return home
    </a>
    <h2>How to read this matrix</h2>
    <p>The horizontal axis of the interaction_matrix represents the
        card being referred to, while the
        vertical axis represents the corresponding matchup.
    </p>


    <table>
        <tr>
            <th></th>
            {% for card in cards %}
                <th>{{ card }}</th>
            {% endfor %}
        </tr>
        {% for i in range(interactions|length) %}
            <tr>
                <th>{{ cards[i] }}</th>
                {% for j in range(interactions[i]|length) %}
                    <td>{{ interactions[i][j] }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
</body>
</html>
